@import "tailwindcss";

@theme {
  --color-primary: #75BF7A;
  --color-secondary: #9E9DA2;
  --font-family-display: "Gilroy", sans-serif;
  --font-weight-light: 300;
  --font-weight-normal: 600;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/gilroy/Gilroy-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/gilroy/Gilroy-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/gilroy/Gilroy-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/gilroy/Gilroy-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/gilroy/Gilroy-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/gilroy/Gilroy-ExtraBold.ttf") format("truetype");
}

html, body {
  font-family: var(--font-family-display);
  font-weight: var(--font-weight-normal);
}
